div.custom-code-pane {
  display: flex;
  justify-content: center;
}

a,
a:visited {
  color: #03a9f4;
}

.spectacle-presenter-main {
  height: 100% !important;
  overflow: auto;
}

.spectacle-presenter-main .spectacle-slide {
  height: fit-content;
  min-height: 100%;
}

.code-runner-button {
  background-color: transparent;
  border-color: transparent;
  color: lawngreen;
  margin: 10px 0;
}

.code-runner-open .custom-code-pane {
  opacity: 0.5;
}

.code-runner .prism-code {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.spectacle-content ul {
  list-style-position: outside;
  margin-top: 70px;
}

.spectacle-content li {
  margin-bottom: 15px;
}